body {
  padding-left: 164px;
}
h1 {
  color: #373a3c;
  font-size: 72px;
  padding-top: 100px;
  margin-bottom: 57px;
}

.flex-parent {
  align-items: center;
}

.flex-parent-error {
  align-items: flex-start;
}

main {
  display: flex;
  align-items: center;
}

.flex-child1 {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
}

p {
  display: inline;
  font-size: 24px;
  color: #373a3c;
  margin: 0;
  padding-right: 14px;
}

input {
  width: 86px;
  height: 38px;
  margin: 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 10px;
}

.error {
  margin: 8px 0 0 0;
  width: fit-content;
  padding: 6px 4px;
  font-size: 16px;
  display: none;
}

.errorText {
  color: #d9534f;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: none;
}

button {
  margin-left: 14px;
}

button:hover {
  opacity: 0.5;
}

h3 {
  display: inline;
  font-weight: bold;
  font-size: 24px;
  text-decoration-line: underline;
  color: #373a3c;
  padding-left: 14px;
  margin-bottom: 0;
}

.spinner {
  display: none;
  margin-left: 8px;
}

.resultsUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.resultsLi {
  padding: 24px 0;
  text-decoration: underline;
  text-underline-offset: 18px;
}

.resultsTitle {
  padding-right: 5px;
  font-size: 54px;
  padding-top: 0;
  margin-bottom: 0;
}

.resultsParent {
  display: flex;
  margin-top: 87px;
  margin-bottom: 60px;
}

#resultsSpinner {
  align-self: center;
  /* justify-self: flex-end; */
}
